{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }} - Hera{% else %}Hera{% endif %}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="/static/css/copy.css">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand flex-fill" href="/index">
              <img src="/favicon.ico" alt="" width="30" height="30" class="d-inline-block align-text-top">
              Hera
            </a>
            <div class="d-flex justify-content-evenly flex-grow-1" id="navbarNavAltMarkup">
                    <li class="nav-item dropdown" style="list-style-type: none;">
                      <a class="nav-link dropdown-toggle" href="/templates" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Templates
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/templates">Templates</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/addTemplate">Add</a></li>
                        <li><a class="dropdown-item" href="/confirmTemplate">Confirm</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown" style="list-style-type: none;">
                      <a class="nav-link dropdown-toggle" href="/templates" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Commands
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/commands">Commands list</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/execCommand">Execute the command</a></li>
                      </ul>
                    </li>
                    {{ render_nav_item('webhooks', 'Webhooks') }}
            </div>
            {% if current_user.email %}
                <div class="navbar-nav text-right flex-fill flex-row-reverse">
                            {{ render_nav_item('index', current_user.email) }}
                </div>
            {% else %}
                <div class="navbar-nav text-right flex-fill flex-row-reverse">
                            &nbsp;
                </div>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block app_content %}{% endblock %}
    </main>

        {{ bootstrap.load_js() }}
{% if pagination %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
      {% if current_page == 1 %}
        <li class="page-item disabled"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Previous</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
      {% endif %}
      {% for page_id in range(pages) %}
        {% set page_id = page_id + 1 %}
        <li class="page-item"><a class="page-link" href="?page={{page_id}}">{{page_id}}</a></li>
      {% endfor %}
    {% if current_page == pages %}
        <li class="page-item disabled"><a class="page-link" href="?page={{current_page}}" tabindex="-1" aria-disabled="true">Next</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</body>
</html>
