{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }} - Hera{% else %}Hera{% endif %}</title>
    {{ bootstrap.load_css() }}
</head>
</body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {{ render_nav_item('index', 'Hera') }}
            {{ render_nav_item('templates', 'Templates') }}
            {{ render_nav_item('commands', 'Commands') }}
            {{ render_nav_item('add_template', 'Added templates') }}
            {{ render_nav_item('confirm_templates', 'Confirm template') }}
            {{ render_nav_item('exec_command', 'Exec commands') }}
            {{ render_nav_item('webhooks_route', 'Webhooks') }}
        </div>
    </nav>

        <main class="container">
            {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        <!--    {% with messages = get_flashed_messages() %}-->
        <!--        {% if messages %}-->
        <!--            {% for message in messages %}-->
        <!--            <div class="alert alert-info" role="alert">{{ message }}</div>-->
        <!--            {% endfor %}-->
        <!--        {% endif %}-->
        <!--    {% endwith %}-->
            {% block app_content %}{% endblock %}
        </main>

        {{ bootstrap.load_js() }}
    </body>
</html>
