{% extends "base.html" %}

{% block app_content %}
<h1>Commands</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Template ID
            </th>
            <th scope="col">
                Data update
            </th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        {% if command.Error %}
            <tr class="table-danger">
        {% else %}
            <tr class="table-success">
        {% endif %}
            <td>
                <a href="{{ url_for('command', template_id=command.RowID) }}">
                    {{ command.RowID }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('template', template_id=command.TemplateID) }}">
                    {{ command.TemplateID }}
                </a>
            </td>
            <td>
                    {{ command.TimeUpd }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
