{% extends "base.html" %}


{% block app_content %}
<h1>Command</h1>
<table class="table table-striped">
    <tr>
        <th scope="row">
            ID
        </th>
        <td>
            {{ command.RowID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Template ID
        </th>
        <td>
            <a href="{{ url_for('template', template_id=command.TemplateID) }}">
                {{ command.TemplateID }}
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">
            CmdID
        </th>
        <td>
            {{ command.CmdID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Error
        </th>
        <td>
            {{ command.Error }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Stderr
        </th>
        <td>
            {{ command.Stderr }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Message
        </th>
        <td>
            {{ command.Message }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            URL Webhook
        </th>
        <td>
            {{ command.WebhookURL }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Webhook uniqname
        </th>
        <td>
            {{ command.WebhookName }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Execution time (in seconds)
        </th>
        <td>
            {{ command.TimeExecute }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            The user who executed the command
        </th>
        <td>
            {{ command.FromUser }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Command creation time
        </th>
        <td>
            {{ command.TimeCrt }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Command update time
        </th>
        <td>
            {{ command.TimeUpd }}
        </td>
    </tr>
</table>
<h2>Stdout</h2>
<!--<button class="btn btn-primary" id="copy-pre" style="outline:none; border:none; margin: 5px 0;">COPY</button>-->

<div class="toooltip">
<button  class="btn btn-primary" onclick="CopyStdout()" onmouseout="ResultCopy()" style="outline:none; border:none; margin: 5px 0;">
    Copy stdout to clipboard
    <span class="toooltiptext" id="myTooltip">Copy to clipboard</span>
  </button>
</div>

<div class="container" style="background-color: rgba(0, 0, 0, 0.09); border: 1px solid silver; border-radius: 5px;">
<pre id="pre-for-copy">
{{ command.Stdout }}
</pre>
</div>
<script src="/static/js/copyPre.js"></script>
{% endblock %}
