{% extends "base.html" %}
{% block content %}
		{% for msg in get_flashed_messages() %}
        <span style="color: red;">{{ msg }}</span>
		{% endfor %}
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
		<p>
            {{ form.Email.label }}<br>
            {{ form.Email() }}<br>
        </p>
		<p>
            {{ form.Password.label }}<br>
            {{ form.Password() }}<br>
        </p>
		<p>
            {{ form.RememberMe.label }}<br>
            {{ form.RememberMe() }}<br>
        </p>
		<p>{{ form.Submit() }}</p>
		</form>
{% endblock %}