{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
<h1>Template</h1>
<table class="table table-striped">
    <tr>
        <th scope="row">
            ID
        </th>
        <td>
            {{ template.ID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Command
        </th>
        <td>
            {{ template.Command }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Time execution
        </th>
        <td>
            {{ template.TimeExec }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Interpreter
        </th>
        <td>
            {{ template.Interpreter }}
        </td>
    </tr>
    {% if template.Trusted %}
        <tr class="table-success">
    {% else %}
        <tr class="table-danger">
    {% endif %}
        <th scope="row">
            Trusted
        </th>
        <td>
            {{ template.Trusted }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            StrID
        </th>
        <td>
            {{ template.StrID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            UserCrt
        </th>
        <td>
            {{ template.UserCrt }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            DataCrt
        </th>
        <td>
            {{ template.DataCrt }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            UserTrusted
        </th>
        <td>
            {{ template.UserTrusted }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            DataTrusted
        </th>
        <td>
            {{ template.DataTrusted }}
        </td>
    </tr>
</table>

{% if not template.Trusted %}
<div class="row">
        <div class="col-md-4">
            {{ render_form(form) }}
        </div>
</div>
<br>
{% endif %}
{% endblock %}
