{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<h1>Webhook info</h1>
<table class="table table-striped">
    <tr>
        <td scope="col">
            ID
        </td>
        <td>
            {{ webhook.ID }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Hostname
        </td>
        <td>
            {{ webhook.hostname }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Username
        </td>
        <td>
            {{ webhook.username }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Version
        </td>
        <td>
            {{ webhook.version }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Uniq name
        </td>
        <td>
            {{ webhook.uniq_name }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            URL
        </td>
        <td>
            {{ webhook.url }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Last time connect
        </td>
        <td>
            {{ webhook.time_connect }}
        </td>
    </tr>
    <tr>
        <td scope="col">
            Active status
        </td>
            {{ webhook.active }}
        </td>
    </tr>
    </table>
{% endblock %}
