{% extends "base.html" %}


{% block app_content %}
<h1>Webhook info</h1>
<table class="table table-striped">
    <tr>
        <th scope="row">
            ID
        </th>
        <td>
            {{ webhook.ID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Hostname
        </th>
        <td>
            {{ webhook.hostname }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            OS Type
        </th>
        <td>
            {{ webhook.os_type }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            OS Arch
        </th>
        <td>
            {{ webhook.os_arch }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            CPU Core
        </th>
        <td>
            {{ webhook.cpu_core }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Username
        </th>
        <td>
            {{ webhook.username }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Version
        </th>
        <td>
            {{ webhook.version }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Name
        </th>
        <td>
            {{ webhook.uniq_name }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            URL
        </th>
        <td>
            {{ webhook.url }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Last time connect
        </th>
        <td>
            {{ webhook.time_connect|nice_datetime }}
        </td>
    </tr>
    {% if webhook.active %}
    <tr class="table-success">
    {% else %}
    <tr class="table-danger">
    {% endif %}
        <th scope="row">
            Active status
        </th>
        <td>
            {{ webhook.active }}
        </td>
    </tr>
</table>

<h2>Commands</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                RowID
            </th>
            <th scope="col">
                TemplateID
            </th>
            <th scope="col">
                Data Update
            </th>
            <th scope="col">
                Result
            </th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
        {% if command.Error %}
            <tr class="table-danger">
        {% else %}
            <tr class="table-success">
        {% endif %}
            <td>
                <a href="{{ url_for('command', template_id=command.RowID) }}">
                    {{ command.RowID }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('template', template_id=command.TemplateID) }}">
                    {{ command.TemplateID }}
                </a>
            </td>
            <td>
                    {{ command.TimeUpd|nice_datetime }}
            </td>
            <td>
                <a class="btn btn-light btn-sm w-50" href="{{ url_for('command', template_id=command.RowID) }}">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
