{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Webhooks</h1>
<table class="table table-hover">
    <tr>
        <td>
            ID
        </td>
        <td>
            Uniq name
        </td>
        <td>
            Hostname
        </td>
        <td>
            Username
        </td>
        <td>
            Active
        </td>
        <td>
            Exec cmd
        </td>
    </tr>
    {% for webhook in webhooks %}
    <tr>
        <td>
            <a href="{{ url_for('webhook_info', webhook_id=webhook.ID) }}">
                {{ webhook.ID }}
            </a>
        </td>
        <td>
            {{ webhook.uniq_name}}
        </td>
        <td>
            {{ webhook.hostname }}
        </td>
        <td>
            {{ webhook.username }}
        </td>
        <td>
            {% if webhook.active %}
                <div class="alert alert-success d-flex align-items-center" role="alert" style="text-align: center;">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            {% else %}
                <div class="alert alert-danger d-flex align-items-center" role="alert" style="text-align: center;">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            {% endif %}
            {{ webhook.active }}
                </div>
            </div>
        </td>
        <td>
            <a href="{{ url_for('exec_command_by_id', webhook_id=webhook.ID) }}">
                Exec cmd
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
