{% extends "base.html" %}


{% block app_content %}
<h1>Webhook info</h1>
<table class="table table-striped">
    <tr>
        <th scope="row">
            ID
        </th>
        <td>
            {{ webhook.ID }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Hostname
        </th>
        <td>
            {{ webhook.hostname }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Username
        </th>
        <td>
            {{ webhook.username }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Version
        </th>
        <td>
            {{ webhook.version }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Uniq name
        </th>
        <td>
            {{ webhook.uniq_name }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            URL
        </th>
        <td>
            {{ webhook.url }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            Last time connect
        </th>
        <td>
            {{ webhook.time_connect }}
        </td>
    </tr>
    {% if webhook.active %}
    <tr class="table-succes">
    {% else %}
    <tr class="table-danger">
    {% endif %}
        <th scope="row">
            Active status
        </th>
        <td>
            {{ webhook.active }}
        </td>
    </tr>
</table>
{% endblock %}
