{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Webhooks</h1>
<table class="table table-hover">
    <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Uniq name
        </th>
        <th scope="col">
            Hostname
        </th>
        <th scope="col">
            Username
        </th>
        <th scope="col">
            Active
        </th>
        <th scope="col">
            Exec cmd
        </th>
    </tr>
    {% for webhook in webhooks %}
    <tr>
        <th scope="row">
            <a href="{{ url_for('webhook_info', webhook_id=webhook.ID) }}">
                {{ webhook.ID }}
            </a>
        </th>
        <td>
            {{ webhook.uniq_name}}
        </td>
        <td>
            {{ webhook.hostname }}
        </td>
        <td>
            {{ webhook.username }}
        </td>
        <td>
            {% if webhook.active %}
            <td class="table-success">
            {% else %}
                <td class="table-danger">
            {% endif %}
            {{ webhook.active }}
        </td>
        <td>
            <a href="{{ url_for('exec_command_by_id', webhook_id=webhook.ID) }}">
                Exec cmd
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
